/* Estilo usado no treino formulario */
.LinkButton {
  transition: background .8s ease-in-out;

  border: 2px solid #3282b8;
  background: linear-gradient(135deg, #1c3cce, #70b6ef);
}
.LinkButton:hover {
  background:  linear-gradient(135deg, #70b6ef, #1c3cce);
  border: 2px solid #bbe1fa;
  color: #f0f4f8;
}
