/* estilização do footer */
footer {
  background-color: #1b262c;
  color: #212529;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.Nav-Footer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
footer p,
a {
  color: #007bff;
  text-decoration: none;
}
footer a:hover {
  color: #0056b3;
  text-decoration: underline;
}