/* estilização do footer */
.Footer {
  background-color: #1b262c;
  color: #212529;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.NavFooter {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
.Footer p,
.LinkFooter {
  color: #007bff;
  text-decoration: none;
}
.LinkFooter:hover {
  color: #0056b3;
  text-decoration: underline;
}