#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

/* estilização da main */
main {
  padding: 2rem;

  background-color: #888;

  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
}
