main {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 100%;
  text-align: center;
}

h2 {
  color: #fff;
}

p {
  color: #fff;
}

.DivButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

hr {
  width: 100%;
}

ul {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Estilizando o component button */
button {
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1em;

  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: #d1f8ef;

  background-color: #3674b5;
  border: solid 0.5px #3674b5;
  cursor: pointer;
  border-radius: 0.5rem;
}
button:hover {
  transition-property: background-color, font-size, transform, color;
  transition: 0.5s ease-in-out;

  color: #3674b5;
  border: solid 0.5px #3674b5;
  background-color: #a1e3f9;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.671);
}